@import "mixins";
@import "variables";

#massages-container{
	position: relative;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background: $gold;
	background: rgba(162,125,34, 0.4);
	line-height: 100%;

	z-index: 999999;
	
	padding-top: 5%;
	padding-bottom: 5%;
	
	.linkHolder{
		position: relative;
		height:11.14%;
		/*
position: relative;
		@include transform(translateY(40px));
		opacity:0;
*/
	}
	
	a.links{
		color: white;
		display: block;
		text-align: center;
		padding: 2% 0;
		font-size: inherit;
		font-family: 'HeimatBold';
	}
	
	a.links:hover{
/* 		color: $gold; */
		/*
background: $gold;
		@include transition( all .1s linear!important);
*/
	}
}