<div class='container-fluid fullHeight hiddenOverflow'>
	<div class='vCenter'>
		<div class='vCenterKid'>
			<div id='content' class="square round transition">
				<div class='vCenter fittext textContainer'  data-fit='38' data-min='8' data-max='100'>
					<div class='vCenterKid padding'>
						{{#if data.title}}
						<h1>{{{data.title}}}</h1>
						{{/if}}
						
						{{{data.content}}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>